body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Merriweather', serif;
}

header {
  position: absolute;
  top: 10px;

}
.morpion {
  width: 500px;
  height: 500px;
  background-color: #d5dcdf;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1;
  display: flex;
}

.cell {
  flex: 1;
  border: 5px solid white;
}


.rouge {
  background-image: url("../../media/green-cross.png");
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: center;
}

.bleu {
  background-image: url("../../media/pink-circle.png");
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: center;
}

.button {
  position: absolute;
  bottom: 50px;
  height: 50px;
  width: 200px;
  height: 40px;
  text-align: center;
}

#button-refresh {
  outline: none;
  height: 40px;
  text-align: center;
  width: 200px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid #30a0e7;
  color: #30a0e7;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}

#button-refresh:hover {
  color: white;
  background: #30a0e7;
}
